name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.25.x", "1.24.x"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true

      - name: Install task
        run: |
          sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin
          echo "$HOME/.local/bin" >>"$GITHUB_PATH"

      - name: Checkout gion-core dependency
        env:
          GION_CORE_REF: gion-core
        run: ./.github/scripts/setup-gion-core-dependency.sh

      - name: task ci
        if: matrix.go-version != '1.25.x'
        run: task ci

      - name: task ci:full
        if: matrix.go-version == '1.25.x'
        run: task ci:full
